svg {
    cursor: default;
}

a.connector,
a.header,
a.link {
    fill-opacity: 0.7;
    cursor: pointer;
}

a.connector:hover,
a.header:hover,
a.link {
    fill-opacity: 1;
    fill: blue;
    transition: 0.3s;
}