html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    color: orange;
    text-transform: uppercase;
    font-weight: 800;
}

#SVG-container > object {
<<<<<<< HEAD
    width: 48%;
    margin: 1%;
=======
    width: 90%;
    margin: 1% 1%;
>>>>>>> 30a411c624fb3e3b53f20b1c638fdc48fe82f752
    font-size: 0;
    border: 1px solid orange;
    box-sizing: border-box;
    padding: 40px;
    float: left;
}

.wrapper {
    height: 100%;
    width: 1280px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#SVG-container {
    min-width: 300px;
    min-height: 300px;
}